.App.flying::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  pointer-events: none;
  z-index: 0;
  box-shadow: 40vw 32vh 0 0 rgba(255, 255, 255, 0.84), 40vw 132vh 0 0 rgba(255, 255, 255, 0.84), 22vw 61vh 0 0 rgba(255, 255, 255, 0.96), 22vw 161vh 0 0 rgba(255, 255, 255, 0.96), 92vw 54vh 0 0 rgba(255, 255, 255, 0.92), 92vw 154vh 0 0 rgba(255, 255, 255, 0.92), 49vw 25vh 0 0 rgba(255, 255, 255, 0.7), 49vw 125vh 0 0 rgba(255, 255, 255, 0.7), 91vw 81vh 0 0 rgba(255, 255, 255, 0.96), 91vw 181vh 0 0 rgba(255, 255, 255, 0.96), 88vw 12vh 0 0 rgba(255, 255, 255, 0.82), 88vw 112vh 0 0 rgba(255, 255, 255, 0.82), 51vw 41vh 0 0 rgba(255, 255, 255, 0.63), 51vw 141vh 0 0 rgba(255, 255, 255, 0.63), 26vw 56vh 0 0 rgba(255, 255, 255, 0.68), 26vw 156vh 0 0 rgba(255, 255, 255, 0.68), 46vw 79vh 0 0 rgba(255, 255, 255, 0.84), 46vw 179vh 0 0 rgba(255, 255, 255, 0.84), 14vw 83vh 0 0 rgba(255, 255, 255, 0.92), 14vw 183vh 0 0 rgba(255, 255, 255, 0.92), 85vw 19vh 0 0 rgba(255, 255, 255, 0.7), 85vw 119vh 0 0 rgba(255, 255, 255, 0.7), 86vw 17vh 0 0 rgba(255, 255, 255, 0.84), 86vw 117vh 0 0 rgba(255, 255, 255, 0.84), 41vw 73vh 0 0 rgba(255, 255, 255, 0.97), 41vw 173vh 0 0 rgba(255, 255, 255, 0.97), 31vw 47vh 0 0 rgba(255, 255, 255, 0.65), 31vw 147vh 0 0 rgba(255, 255, 255, 0.65), 6vw 74vh 0 0 rgba(255, 255, 255, 0.87), 6vw 174vh 0 0 rgba(255, 255, 255, 0.87), 57vw 5vh 0 0 rgba(255, 255, 255, 0.73), 57vw 105vh 0 0 rgba(255, 255, 255, 0.73), 95vw 96vh 0 0 rgba(255, 255, 255, 0.69), 95vw 196vh 0 0 rgba(255, 255, 255, 0.69), 50vw 45vh 0 0 rgba(255, 255, 255, 0.74), 50vw 145vh 0 0 rgba(255, 255, 255, 0.74), 7vw 23vh 0 0 rgba(255, 255, 255, 0.94), 7vw 123vh 0 0 rgba(255, 255, 255, 0.94), 4vw 53vh 0 0 rgba(255, 255, 255, 0.79), 4vw 153vh 0 0 rgba(255, 255, 255, 0.79), 98vw 17vh 0 0 rgba(255, 255, 255, 0.76), 98vw 117vh 0 0 rgba(255, 255, 255, 0.76), 86vw 31vh 0 0 rgba(255, 255, 255, 0.97), 86vw 131vh 0 0 rgba(255, 255, 255, 0.97), 95vw 11vh 0 0 rgba(255, 255, 255, 0.88), 95vw 111vh 0 0 rgba(255, 255, 255, 0.88), 34vw 88vh 0 0 rgba(255, 255, 255, 0.65), 34vw 188vh 0 0 rgba(255, 255, 255, 0.65), 98vw 29vh 0 0 rgba(255, 255, 255, 0.67), 98vw 129vh 0 0 rgba(255, 255, 255, 0.67), 53vw 35vh 0 0 rgba(255, 255, 255, 0.72), 53vw 135vh 0 0 rgba(255, 255, 255, 0.72), 90vw 3vh 0 0 rgba(255, 255, 255, 0.88), 90vw 103vh 0 0 rgba(255, 255, 255, 0.88), 9vw 5vh 0 0 rgba(255, 255, 255, 0.8), 9vw 105vh 0 0 rgba(255, 255, 255, 0.8), 7vw 6vh 0 0 rgba(255, 255, 255, 0.93), 7vw 106vh 0 0 rgba(255, 255, 255, 0.93), 0vw 32vh 0 0 rgba(255, 255, 255, 0.8), 0vw 132vh 0 0 rgba(255, 255, 255, 0.8), 37vw 79vh 0 0 rgba(255, 255, 255, 0.88), 37vw 179vh 0 0 rgba(255, 255, 255, 0.88), 3vw 14vh 0 0 rgba(255, 255, 255, 0.77), 3vw 114vh 0 0 rgba(255, 255, 255, 0.77), 41vw 77vh 0 0 rgba(255, 255, 255, 0.78), 41vw 177vh 0 0 rgba(255, 255, 255, 0.78), 32vw 7vh 0 0 rgba(255, 255, 255, 0.91), 32vw 107vh 0 0 rgba(255, 255, 255, 0.91), 71vw 91vh 0 0 rgba(255, 255, 255, 0.91), 71vw 191vh 0 0 rgba(255, 255, 255, 0.91), 88vw 20vh 0 0 rgba(255, 255, 255, 0.78), 88vw 120vh 0 0 rgba(255, 255, 255, 0.78), 100vw 70vh 0 0 rgba(255, 255, 255, 0.76), 100vw 170vh 0 0 rgba(255, 255, 255, 0.76), 58vw 48vh 0 0 rgba(255, 255, 255, 0.82), 58vw 148vh 0 0 rgba(255, 255, 255, 0.82), 66vw 65vh 0 0 rgba(255, 255, 255, 0.88), 66vw 165vh 0 0 rgba(255, 255, 255, 0.88), 85vw 27vh 0 0 rgba(255, 255, 255, 0.81), 85vw 127vh 0 0 rgba(255, 255, 255, 0.81), 93vw 66vh 0 0 rgba(255, 255, 255, 0.89), 93vw 166vh 0 0 rgba(255, 255, 255, 0.89), 31vw 76vh 0 0 rgba(255, 255, 255, 0.64), 31vw 176vh 0 0 rgba(255, 255, 255, 0.64), 15vw 46vh 0 0 rgba(255, 255, 255, 0.74), 15vw 146vh 0 0 rgba(255, 255, 255, 0.74), 79vw 36vh 0 0 rgba(255, 255, 255, 0.75), 79vw 136vh 0 0 rgba(255, 255, 255, 0.75), 66vw 9vh 0 0 rgba(255, 255, 255, 0.83), 66vw 109vh 0 0 rgba(255, 255, 255, 0.83), 0vw 29vh 0 0 rgba(255, 255, 255, 0.73), 0vw 129vh 0 0 rgba(255, 255, 255, 0.73), 70vw 70vh 0 0 rgba(255, 255, 255, 0.78), 70vw 170vh 0 0 rgba(255, 255, 255, 0.78), 53vw 5vh 0 0 rgba(255, 255, 255, 0.91), 53vw 105vh 0 0 rgba(255, 255, 255, 0.91), 89vw 90vh 0 0 rgba(255, 255, 255, 0.65), 89vw 190vh 0 0 rgba(255, 255, 255, 0.65), 49vw 94vh 0 0 rgba(255, 255, 255, 0.93), 49vw 194vh 0 0 rgba(255, 255, 255, 0.93);
  animation: stars-fall 2s linear infinite;
}

.App {
  position: relative;
  overflow: hidden;
  background-image: url("../public/space-background.png");
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  pointer-events: none;
  z-index: 0;
  box-shadow: 40vw 32vh 0 0 rgba(255, 255, 255, 0.84), 40vw 132vh 0 0 rgba(255, 255, 255, 0.84), 22vw 61vh 0 0 rgba(255, 255, 255, 0.96), 22vw 161vh 0 0 rgba(255, 255, 255, 0.96), 92vw 54vh 0 0 rgba(255, 255, 255, 0.92), 92vw 154vh 0 0 rgba(255, 255, 255, 0.92), 49vw 25vh 0 0 rgba(255, 255, 255, 0.7), 49vw 125vh 0 0 rgba(255, 255, 255, 0.7), 91vw 81vh 0 0 rgba(255, 255, 255, 0.96), 91vw 181vh 0 0 rgba(255, 255, 255, 0.96), 88vw 12vh 0 0 rgba(255, 255, 255, 0.82), 88vw 112vh 0 0 rgba(255, 255, 255, 0.82), 51vw 41vh 0 0 rgba(255, 255, 255, 0.63), 51vw 141vh 0 0 rgba(255, 255, 255, 0.63), 26vw 56vh 0 0 rgba(255, 255, 255, 0.68), 26vw 156vh 0 0 rgba(255, 255, 255, 0.68), 46vw 79vh 0 0 rgba(255, 255, 255, 0.84), 46vw 179vh 0 0 rgba(255, 255, 255, 0.84), 14vw 83vh 0 0 rgba(255, 255, 255, 0.92), 14vw 183vh 0 0 rgba(255, 255, 255, 0.92), 85vw 19vh 0 0 rgba(255, 255, 255, 0.7), 85vw 119vh 0 0 rgba(255, 255, 255, 0.7), 86vw 17vh 0 0 rgba(255, 255, 255, 0.84), 86vw 117vh 0 0 rgba(255, 255, 255, 0.84), 41vw 73vh 0 0 rgba(255, 255, 255, 0.97), 41vw 173vh 0 0 rgba(255, 255, 255, 0.97), 31vw 47vh 0 0 rgba(255, 255, 255, 0.65), 31vw 147vh 0 0 rgba(255, 255, 255, 0.65), 6vw 74vh 0 0 rgba(255, 255, 255, 0.87), 6vw 174vh 0 0 rgba(255, 255, 255, 0.87), 57vw 5vh 0 0 rgba(255, 255, 255, 0.73), 57vw 105vh 0 0 rgba(255, 255, 255, 0.73), 95vw 96vh 0 0 rgba(255, 255, 255, 0.69), 95vw 196vh 0 0 rgba(255, 255, 255, 0.69), 50vw 45vh 0 0 rgba(255, 255, 255, 0.74), 50vw 145vh 0 0 rgba(255, 255, 255, 0.74), 7vw 23vh 0 0 rgba(255, 255, 255, 0.94), 7vw 123vh 0 0 rgba(255, 255, 255, 0.94), 4vw 53vh 0 0 rgba(255, 255, 255, 0.79), 4vw 153vh 0 0 rgba(255, 255, 255, 0.79), 98vw 17vh 0 0 rgba(255, 255, 255, 0.76), 98vw 117vh 0 0 rgba(255, 255, 255, 0.76), 86vw 31vh 0 0 rgba(255, 255, 255, 0.97), 86vw 131vh 0 0 rgba(255, 255, 255, 0.97), 95vw 11vh 0 0 rgba(255, 255, 255, 0.88), 95vw 111vh 0 0 rgba(255, 255, 255, 0.88), 34vw 88vh 0 0 rgba(255, 255, 255, 0.65), 34vw 188vh 0 0 rgba(255, 255, 255, 0.65), 98vw 29vh 0 0 rgba(255, 255, 255, 0.67), 98vw 129vh 0 0 rgba(255, 255, 255, 0.67), 53vw 35vh 0 0 rgba(255, 255, 255, 0.72), 53vw 135vh 0 0 rgba(255, 255, 255, 0.72), 90vw 3vh 0 0 rgba(255, 255, 255, 0.88), 90vw 103vh 0 0 rgba(255, 255, 255, 0.88), 9vw 5vh 0 0 rgba(255, 255, 255, 0.8), 9vw 105vh 0 0 rgba(255, 255, 255, 0.8), 7vw 6vh 0 0 rgba(255, 255, 255, 0.93), 7vw 106vh 0 0 rgba(255, 255, 255, 0.93), 0vw 32vh 0 0 rgba(255, 255, 255, 0.8), 0vw 132vh 0 0 rgba(255, 255, 255, 0.8), 37vw 79vh 0 0 rgba(255, 255, 255, 0.88), 37vw 179vh 0 0 rgba(255, 255, 255, 0.88), 3vw 14vh 0 0 rgba(255, 255, 255, 0.77), 3vw 114vh 0 0 rgba(255, 255, 255, 0.77), 41vw 77vh 0 0 rgba(255, 255, 255, 0.78), 41vw 177vh 0 0 rgba(255, 255, 255, 0.78), 32vw 7vh 0 0 rgba(255, 255, 255, 0.91), 32vw 107vh 0 0 rgba(255, 255, 255, 0.91), 71vw 91vh 0 0 rgba(255, 255, 255, 0.91), 71vw 191vh 0 0 rgba(255, 255, 255, 0.91), 88vw 20vh 0 0 rgba(255, 255, 255, 0.78), 88vw 120vh 0 0 rgba(255, 255, 255, 0.78), 100vw 70vh 0 0 rgba(255, 255, 255, 0.76), 100vw 170vh 0 0 rgba(255, 255, 255, 0.76), 58vw 48vh 0 0 rgba(255, 255, 255, 0.82), 58vw 148vh 0 0 rgba(255, 255, 255, 0.82), 66vw 65vh 0 0 rgba(255, 255, 255, 0.88), 66vw 165vh 0 0 rgba(255, 255, 255, 0.88), 85vw 27vh 0 0 rgba(255, 255, 255, 0.81), 85vw 127vh 0 0 rgba(255, 255, 255, 0.81), 93vw 66vh 0 0 rgba(255, 255, 255, 0.89), 93vw 166vh 0 0 rgba(255, 255, 255, 0.89), 31vw 76vh 0 0 rgba(255, 255, 255, 0.64), 31vw 176vh 0 0 rgba(255, 255, 255, 0.64), 15vw 46vh 0 0 rgba(255, 255, 255, 0.74), 15vw 146vh 0 0 rgba(255, 255, 255, 0.74), 79vw 36vh 0 0 rgba(255, 255, 255, 0.75), 79vw 136vh 0 0 rgba(255, 255, 255, 0.75), 66vw 9vh 0 0 rgba(255, 255, 255, 0.83), 66vw 109vh 0 0 rgba(255, 255, 255, 0.83), 0vw 29vh 0 0 rgba(255, 255, 255, 0.73), 0vw 129vh 0 0 rgba(255, 255, 255, 0.73), 70vw 70vh 0 0 rgba(255, 255, 255, 0.78), 70vw 170vh 0 0 rgba(255, 255, 255, 0.78), 53vw 5vh 0 0 rgba(255, 255, 255, 0.91), 53vw 105vh 0 0 rgba(255, 255, 255, 0.91), 89vw 90vh 0 0 rgba(255, 255, 255, 0.65), 89vw 190vh 0 0 rgba(255, 255, 255, 0.65), 49vw 94vh 0 0 rgba(255, 255, 255, 0.93), 49vw 194vh 0 0 rgba(255, 255, 255, 0.93);
  animation: stars-fall 10s linear infinite;
}
.App .info-icon {
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid white;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}
.App .instructions-icon {
  color: white;
  position: absolute;
  top: 10px;
  left: 50px;
  border: 1px solid white;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}
.App .info-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  z-index: 2;
  width: 70%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.App .info-modal .modal-inputs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5px;
}
.App .info-modal .modal-inputs input {
  height: 2em;
  width: 45%;
}
.App .credits-display {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}
.App .ship-animation {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
.App .ship-animation .ship {
  animation: hover 2s steps(4) infinite;
  height: 100px;
}
.App .display {
  position: relative;
  z-index: 1;
  width: 75%;
  color: white;
  border: 1px solid white;
}
.App .display .row-one {
  display: flex;
  justify-content: space-around;
}
.App .display .resource-display {
  border: 1px solid white;
  position: relative;
}
.App .display .resource-display .resource-name {
  margin-left: 10%;
}
.App .display .resource-display .mining-level {
  right: 10%;
  display: inline;
  position: absolute;
}
.App .display .resource-display .mining-level button {
  margin-left: 10px;
}
.App button {
  position: relative;
  z-index: 1;
  width: 50px;
}

.message-display {
  border: 1px solid white;
  width: 75%;
  margin-top: 10px;
  color: white;
  height: 20px;
}

@keyframes hover {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@keyframes stars-fall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0vh);
  }
}/*# sourceMappingURL=App.css.map */