.App.flying::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  pointer-events: none;
  z-index: 0;
  box-shadow: 44vw 45vh 0 0 rgba(255, 255, 255, 0.63), 44vw 145vh 0 0 rgba(255, 255, 255, 0.63), 9vw 30vh 0 0 rgba(255, 255, 255, 0.8), 9vw 130vh 0 0 rgba(255, 255, 255, 0.8), 55vw 9vh 0 0 rgba(255, 255, 255, 0.84), 55vw 109vh 0 0 rgba(255, 255, 255, 0.84), 65vw 49vh 0 0 rgba(255, 255, 255, 0.76), 65vw 149vh 0 0 rgba(255, 255, 255, 0.76), 74vw 41vh 0 0 rgba(255, 255, 255, 0.79), 74vw 141vh 0 0 rgba(255, 255, 255, 0.79), 57vw 65vh 0 0 rgba(255, 255, 255, 0.66), 57vw 165vh 0 0 rgba(255, 255, 255, 0.66), 87vw 24vh 0 0 rgba(255, 255, 255, 0.97), 87vw 124vh 0 0 rgba(255, 255, 255, 0.97), 35vw 0vh 0 0 rgba(255, 255, 255, 0.85), 35vw 100vh 0 0 rgba(255, 255, 255, 0.85), 24vw 91vh 0 0 rgba(255, 255, 255, 0.69), 24vw 191vh 0 0 rgba(255, 255, 255, 0.69), 4vw 93vh 0 0 rgba(255, 255, 255, 0.74), 4vw 193vh 0 0 rgba(255, 255, 255, 0.74), 67vw 19vh 0 0 rgba(255, 255, 255, 0.99), 67vw 119vh 0 0 rgba(255, 255, 255, 0.99), 41vw 41vh 0 0 rgba(255, 255, 255, 0.96), 41vw 141vh 0 0 rgba(255, 255, 255, 0.96), 36vw 55vh 0 0 rgba(255, 255, 255, 0.74), 36vw 155vh 0 0 rgba(255, 255, 255, 0.74), 81vw 18vh 0 0 rgba(255, 255, 255, 0.94), 81vw 118vh 0 0 rgba(255, 255, 255, 0.94), 5vw 35vh 0 0 rgba(255, 255, 255, 0.87), 5vw 135vh 0 0 rgba(255, 255, 255, 0.87), 48vw 91vh 0 0 rgba(255, 255, 255, 0.76), 48vw 191vh 0 0 rgba(255, 255, 255, 0.76), 37vw 88vh 0 0 rgba(255, 255, 255, 0.74), 37vw 188vh 0 0 rgba(255, 255, 255, 0.74), 41vw 72vh 0 0 rgba(255, 255, 255, 0.7), 41vw 172vh 0 0 rgba(255, 255, 255, 0.7), 88vw 100vh 0 0 rgba(255, 255, 255, 0.93), 88vw 200vh 0 0 rgba(255, 255, 255, 0.93), 100vw 52vh 0 0 rgba(255, 255, 255, 0.73), 100vw 152vh 0 0 rgba(255, 255, 255, 0.73), 12vw 95vh 0 0 rgba(255, 255, 255, 0.93), 12vw 195vh 0 0 rgba(255, 255, 255, 0.93), 44vw 46vh 0 0 rgba(255, 255, 255, 0.75), 44vw 146vh 0 0 rgba(255, 255, 255, 0.75), 36vw 5vh 0 0 rgba(255, 255, 255, 0.93), 36vw 105vh 0 0 rgba(255, 255, 255, 0.93), 71vw 50vh 0 0 rgba(255, 255, 255, 0.99), 71vw 150vh 0 0 rgba(255, 255, 255, 0.99), 9vw 86vh 0 0 rgba(255, 255, 255, 0.71), 9vw 186vh 0 0 rgba(255, 255, 255, 0.71), 13vw 65vh 0 0 rgba(255, 255, 255, 0.91), 13vw 165vh 0 0 rgba(255, 255, 255, 0.91), 30vw 23vh 0 0 rgba(255, 255, 255, 0.81), 30vw 123vh 0 0 rgba(255, 255, 255, 0.81), 69vw 86vh 0 0 rgba(255, 255, 255, 0.74), 69vw 186vh 0 0 rgba(255, 255, 255, 0.74), 29vw 99vh 0 0 rgba(255, 255, 255, 0.98), 29vw 199vh 0 0 rgba(255, 255, 255, 0.98), 9vw 57vh 0 0 rgba(255, 255, 255, 0.97), 9vw 157vh 0 0 rgba(255, 255, 255, 0.97), 59vw 1vh 0 0 rgba(255, 255, 255, 0.97), 59vw 101vh 0 0 rgba(255, 255, 255, 0.97), 77vw 29vh 0 0 rgba(255, 255, 255, 0.96), 77vw 129vh 0 0 rgba(255, 255, 255, 0.96), 13vw 34vh 0 0 rgba(255, 255, 255, 0.96), 13vw 134vh 0 0 rgba(255, 255, 255, 0.96), 6vw 58vh 0 0 rgba(255, 255, 255, 0.99), 6vw 158vh 0 0 rgba(255, 255, 255, 0.99), 7vw 94vh 0 0 rgba(255, 255, 255, 0.66), 7vw 194vh 0 0 rgba(255, 255, 255, 0.66), 17vw 98vh 0 0 rgba(255, 255, 255, 0.96), 17vw 198vh 0 0 rgba(255, 255, 255, 0.96), 97vw 49vh 0 0 rgba(255, 255, 255, 0.86), 97vw 149vh 0 0 rgba(255, 255, 255, 0.86), 53vw 56vh 0 0 rgba(255, 255, 255, 0.82), 53vw 156vh 0 0 rgba(255, 255, 255, 0.82), 39vw 84vh 0 0 rgba(255, 255, 255, 0.79), 39vw 184vh 0 0 rgba(255, 255, 255, 0.79), 88vw 22vh 0 0 rgba(255, 255, 255, 0.61), 88vw 122vh 0 0 rgba(255, 255, 255, 0.61), 49vw 16vh 0 0 rgba(255, 255, 255, 0.64), 49vw 116vh 0 0 rgba(255, 255, 255, 0.64), 92vw 39vh 0 0 rgba(255, 255, 255, 0.7), 92vw 139vh 0 0 rgba(255, 255, 255, 0.7), 79vw 10vh 0 0 rgba(255, 255, 255, 0.86), 79vw 110vh 0 0 rgba(255, 255, 255, 0.86), 62vw 46vh 0 0 rgba(255, 255, 255, 0.68), 62vw 146vh 0 0 rgba(255, 255, 255, 0.68), 84vw 86vh 0 0 rgba(255, 255, 255, 0.65), 84vw 186vh 0 0 rgba(255, 255, 255, 0.65), 6vw 2vh 0 0 rgba(255, 255, 255, 0.8), 6vw 102vh 0 0 rgba(255, 255, 255, 0.8), 26vw 86vh 0 0 rgba(255, 255, 255, 0.94), 26vw 186vh 0 0 rgba(255, 255, 255, 0.94), 20vw 100vh 0 0 rgba(255, 255, 255, 0.91), 20vw 200vh 0 0 rgba(255, 255, 255, 0.91), 62vw 31vh 0 0 rgba(255, 255, 255, 0.89), 62vw 131vh 0 0 rgba(255, 255, 255, 0.89), 37vw 37vh 0 0 rgba(255, 255, 255, 0.62), 37vw 137vh 0 0 rgba(255, 255, 255, 0.62);
  animation: stars-fall 2s linear infinite;
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  pointer-events: none;
  z-index: 0;
  box-shadow: 44vw 45vh 0 0 rgba(255, 255, 255, 0.63), 44vw 145vh 0 0 rgba(255, 255, 255, 0.63), 9vw 30vh 0 0 rgba(255, 255, 255, 0.8), 9vw 130vh 0 0 rgba(255, 255, 255, 0.8), 55vw 9vh 0 0 rgba(255, 255, 255, 0.84), 55vw 109vh 0 0 rgba(255, 255, 255, 0.84), 65vw 49vh 0 0 rgba(255, 255, 255, 0.76), 65vw 149vh 0 0 rgba(255, 255, 255, 0.76), 74vw 41vh 0 0 rgba(255, 255, 255, 0.79), 74vw 141vh 0 0 rgba(255, 255, 255, 0.79), 57vw 65vh 0 0 rgba(255, 255, 255, 0.66), 57vw 165vh 0 0 rgba(255, 255, 255, 0.66), 87vw 24vh 0 0 rgba(255, 255, 255, 0.97), 87vw 124vh 0 0 rgba(255, 255, 255, 0.97), 35vw 0vh 0 0 rgba(255, 255, 255, 0.85), 35vw 100vh 0 0 rgba(255, 255, 255, 0.85), 24vw 91vh 0 0 rgba(255, 255, 255, 0.69), 24vw 191vh 0 0 rgba(255, 255, 255, 0.69), 4vw 93vh 0 0 rgba(255, 255, 255, 0.74), 4vw 193vh 0 0 rgba(255, 255, 255, 0.74), 67vw 19vh 0 0 rgba(255, 255, 255, 0.99), 67vw 119vh 0 0 rgba(255, 255, 255, 0.99), 41vw 41vh 0 0 rgba(255, 255, 255, 0.96), 41vw 141vh 0 0 rgba(255, 255, 255, 0.96), 36vw 55vh 0 0 rgba(255, 255, 255, 0.74), 36vw 155vh 0 0 rgba(255, 255, 255, 0.74), 81vw 18vh 0 0 rgba(255, 255, 255, 0.94), 81vw 118vh 0 0 rgba(255, 255, 255, 0.94), 5vw 35vh 0 0 rgba(255, 255, 255, 0.87), 5vw 135vh 0 0 rgba(255, 255, 255, 0.87), 48vw 91vh 0 0 rgba(255, 255, 255, 0.76), 48vw 191vh 0 0 rgba(255, 255, 255, 0.76), 37vw 88vh 0 0 rgba(255, 255, 255, 0.74), 37vw 188vh 0 0 rgba(255, 255, 255, 0.74), 41vw 72vh 0 0 rgba(255, 255, 255, 0.7), 41vw 172vh 0 0 rgba(255, 255, 255, 0.7), 88vw 100vh 0 0 rgba(255, 255, 255, 0.93), 88vw 200vh 0 0 rgba(255, 255, 255, 0.93), 100vw 52vh 0 0 rgba(255, 255, 255, 0.73), 100vw 152vh 0 0 rgba(255, 255, 255, 0.73), 12vw 95vh 0 0 rgba(255, 255, 255, 0.93), 12vw 195vh 0 0 rgba(255, 255, 255, 0.93), 44vw 46vh 0 0 rgba(255, 255, 255, 0.75), 44vw 146vh 0 0 rgba(255, 255, 255, 0.75), 36vw 5vh 0 0 rgba(255, 255, 255, 0.93), 36vw 105vh 0 0 rgba(255, 255, 255, 0.93), 71vw 50vh 0 0 rgba(255, 255, 255, 0.99), 71vw 150vh 0 0 rgba(255, 255, 255, 0.99), 9vw 86vh 0 0 rgba(255, 255, 255, 0.71), 9vw 186vh 0 0 rgba(255, 255, 255, 0.71), 13vw 65vh 0 0 rgba(255, 255, 255, 0.91), 13vw 165vh 0 0 rgba(255, 255, 255, 0.91), 30vw 23vh 0 0 rgba(255, 255, 255, 0.81), 30vw 123vh 0 0 rgba(255, 255, 255, 0.81), 69vw 86vh 0 0 rgba(255, 255, 255, 0.74), 69vw 186vh 0 0 rgba(255, 255, 255, 0.74), 29vw 99vh 0 0 rgba(255, 255, 255, 0.98), 29vw 199vh 0 0 rgba(255, 255, 255, 0.98), 9vw 57vh 0 0 rgba(255, 255, 255, 0.97), 9vw 157vh 0 0 rgba(255, 255, 255, 0.97), 59vw 1vh 0 0 rgba(255, 255, 255, 0.97), 59vw 101vh 0 0 rgba(255, 255, 255, 0.97), 77vw 29vh 0 0 rgba(255, 255, 255, 0.96), 77vw 129vh 0 0 rgba(255, 255, 255, 0.96), 13vw 34vh 0 0 rgba(255, 255, 255, 0.96), 13vw 134vh 0 0 rgba(255, 255, 255, 0.96), 6vw 58vh 0 0 rgba(255, 255, 255, 0.99), 6vw 158vh 0 0 rgba(255, 255, 255, 0.99), 7vw 94vh 0 0 rgba(255, 255, 255, 0.66), 7vw 194vh 0 0 rgba(255, 255, 255, 0.66), 17vw 98vh 0 0 rgba(255, 255, 255, 0.96), 17vw 198vh 0 0 rgba(255, 255, 255, 0.96), 97vw 49vh 0 0 rgba(255, 255, 255, 0.86), 97vw 149vh 0 0 rgba(255, 255, 255, 0.86), 53vw 56vh 0 0 rgba(255, 255, 255, 0.82), 53vw 156vh 0 0 rgba(255, 255, 255, 0.82), 39vw 84vh 0 0 rgba(255, 255, 255, 0.79), 39vw 184vh 0 0 rgba(255, 255, 255, 0.79), 88vw 22vh 0 0 rgba(255, 255, 255, 0.61), 88vw 122vh 0 0 rgba(255, 255, 255, 0.61), 49vw 16vh 0 0 rgba(255, 255, 255, 0.64), 49vw 116vh 0 0 rgba(255, 255, 255, 0.64), 92vw 39vh 0 0 rgba(255, 255, 255, 0.7), 92vw 139vh 0 0 rgba(255, 255, 255, 0.7), 79vw 10vh 0 0 rgba(255, 255, 255, 0.86), 79vw 110vh 0 0 rgba(255, 255, 255, 0.86), 62vw 46vh 0 0 rgba(255, 255, 255, 0.68), 62vw 146vh 0 0 rgba(255, 255, 255, 0.68), 84vw 86vh 0 0 rgba(255, 255, 255, 0.65), 84vw 186vh 0 0 rgba(255, 255, 255, 0.65), 6vw 2vh 0 0 rgba(255, 255, 255, 0.8), 6vw 102vh 0 0 rgba(255, 255, 255, 0.8), 26vw 86vh 0 0 rgba(255, 255, 255, 0.94), 26vw 186vh 0 0 rgba(255, 255, 255, 0.94), 20vw 100vh 0 0 rgba(255, 255, 255, 0.91), 20vw 200vh 0 0 rgba(255, 255, 255, 0.91), 62vw 31vh 0 0 rgba(255, 255, 255, 0.89), 62vw 131vh 0 0 rgba(255, 255, 255, 0.89), 37vw 37vh 0 0 rgba(255, 255, 255, 0.62), 37vw 137vh 0 0 rgba(255, 255, 255, 0.62);
  animation: stars-fall 10s linear infinite;
}
.App {
  position: relative;
  overflow: hidden;
  background-image: url("../public/space-background.png");
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .info-icon {
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid white;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}
.App .instructions-icon {
  color: white;
  position: absolute;
  top: 10px;
  left: 50px;
  border: 1px solid white;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}
.App .add-ship-icon {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 1px solid white;
  border-radius: 100%;
  padding: 5px;
}
.App .event-icon {
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 50%;
}
.App .fa-clover {
  position: absolute;
  bottom: 10px;
  right: 50px;
  color: white;
}
.App .info-modal, .App .fleet-modal, .App .create-ship-modal, .App .solar-system-modal, .App .event-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  z-index: 2;
  width: 70%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.App .info-modal button, .App .info-modal .fa-xmark, .App .fleet-modal button, .App .fleet-modal .fa-xmark, .App .create-ship-modal button, .App .create-ship-modal .fa-xmark, .App .solar-system-modal button, .App .solar-system-modal .fa-xmark, .App .event-modal button, .App .event-modal .fa-xmark {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  width: 30%;
  margin: 0px 10px;
  padding: 10px;
}
.App .info-modal .modal-error-div, .App .fleet-modal .modal-error-div, .App .create-ship-modal .modal-error-div, .App .solar-system-modal .modal-error-div, .App .event-modal .modal-error-div {
  color: red;
  margin-top: 10px;
}
.App .fleet-modal .button-div {
  display: flex;
  width: 90%;
  justify-content: space-around;
}
.App .fleet-modal .button-div button {
  width: 45%;
}
.App .fleet-modal .ships-list {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 10px;
  width: 90%;
  border: 1px solid white;
  margin-bottom: 10px;
}
.App .fleet-modal .ships-list .ship-info-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.App .fleet-modal .ships-list .ship-info {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 1px;
       column-gap: 1px;
}
.App .fleet-modal .ships-list .ship-info button {
  width: 90%;
  margin: 0px;
}
.App .create-ship-modal .button-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.App .solar-system-modal {
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
}
.App .solar-system-modal .fa-xmark {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
}
.App .solar-system-modal .canvas-div {
  width: 90%;
}
.App .solar-system-modal canvas {
  width: 100%;
  border: 1px solid white;
  background: url("./assets/solar-systems/Universe2.png");
}
.App .solar-system-modal .solar-system-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.App .info-modal .fa-xmark {
  color: black;
  width: 10%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.App .info-modal button {
  margin: 5px;
}
.App .event-modal .fa-xmark {
  color: black;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: 10px;
  width: 10px;
  height: 10px;
}
.App .event-modal .event-input-display, .App .event-modal .event-result-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App .event-modal .event-input-display .event-choice-row button, .App .event-modal .event-result-display .event-choice-row button {
  flex: 1;
}
.App .event-modal .event-input-display .event-choice-row, .App .event-modal .event-result-display .event-choice-row {
  display: flex;
  justify-content: space-around;
}
.App .event-modal .fa-arrow-left {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10% 10%;
  height: 10px;
  width: 10px;
}
.App .event-modal .space {
  animation: float 4s infinite;
}
.App .event-modal .faction {
  animation: float 4s infinite;
}
.App .event-modal .events-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
}
.App .event-modal .events-list .event-item {
  display: contents;
  padding: 5px;
  margin: 5px;
}
.App .event-modal .events-list .event-item > * {
  margin: 0 auto;
  padding: 5px;
}
.App .credits-display {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}
.App .ship-animation {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
.App .ship-animation .ship {
  animation: hover 2s steps(4) infinite;
  height: 100px;
}
.App .ship-animation .ship.fly-out {
  animation: flyout 3s forwards;
}
.App .ship-animation .ship.fly-in {
  animation: flyin 3s forwards cubic-bezier(0, 0.7, 0.34, 1.75);
}
.App .display {
  position: relative;
  z-index: 1;
  width: 75%;
  color: white;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05); /* Semi-transparent background */
  backdrop-filter: blur(1px); /* The key blurring effect */
  -webkit-backdrop-filter: blur(10px); /* Vendor prefix for compatibility */
  border-radius: 10px; /* Rounded corners for a softer look */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.App .display .row-one {
  display: flex;
  justify-content: space-around;
}
.App .display .row-two {
  display: flex;
  justify-content: center;
}
.App .display .resource-display {
  padding: 5px;
}
.App .display .resource-display button {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  border: none;
  border-radius: 10% 10%;
}
.App .display .resource-display {
  position: relative;
}
.App .display .resource-display .resource-name {
  margin-left: 10%;
}
.App .display .resource-display .mining-level {
  right: 10%;
  display: inline;
  position: absolute;
}
.App .display .resource-display .mining-level button {
  margin-left: 10px;
}
.App .display .button-row {
  display: flex;
  justify-content: center;
}
.App .display .button-row button {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  border: none;
  border-radius: 10px;
  width: 30%;
  margin: 0px 10px;
}
.App button {
  position: relative;
  z-index: 1;
  width: 50px;
}

.message-display {
  width: 75%;
  margin-top: 10px;
  color: white;
  height: 20px;
}

@keyframes hover {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@keyframes stars-fall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
@keyframes flyout {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}
@keyframes flyin {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}/*# sourceMappingURL=App.css.map */