.App.flying::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  pointer-events: none;
  z-index: 0;
  box-shadow: 87vw 57vh 0 0 rgba(255, 255, 255, 0.95), 87vw 157vh 0 0 rgba(255, 255, 255, 0.95), 47vw 24vh 0 0 rgba(255, 255, 255, 0.67), 47vw 124vh 0 0 rgba(255, 255, 255, 0.67), 52vw 36vh 0 0 rgba(255, 255, 255, 0.61), 52vw 136vh 0 0 rgba(255, 255, 255, 0.61), 81vw 94vh 0 0 rgba(255, 255, 255, 0.95), 81vw 194vh 0 0 rgba(255, 255, 255, 0.95), 24vw 93vh 0 0 rgba(255, 255, 255, 0.62), 24vw 193vh 0 0 rgba(255, 255, 255, 0.62), 47vw 3vh 0 0 rgba(255, 255, 255, 0.78), 47vw 103vh 0 0 rgba(255, 255, 255, 0.78), 4vw 54vh 0 0 rgba(255, 255, 255, 0.74), 4vw 154vh 0 0 rgba(255, 255, 255, 0.74), 38vw 80vh 0 0 rgba(255, 255, 255, 0.92), 38vw 180vh 0 0 rgba(255, 255, 255, 0.92), 4vw 95vh 0 0 rgb(255, 255, 255), 4vw 195vh 0 0 rgb(255, 255, 255), 27vw 57vh 0 0 rgba(255, 255, 255, 0.99), 27vw 157vh 0 0 rgba(255, 255, 255, 0.99), 57vw 16vh 0 0 rgba(255, 255, 255, 0.96), 57vw 116vh 0 0 rgba(255, 255, 255, 0.96), 22vw 26vh 0 0 rgba(255, 255, 255, 0.95), 22vw 126vh 0 0 rgba(255, 255, 255, 0.95), 78vw 86vh 0 0 rgba(255, 255, 255, 0.78), 78vw 186vh 0 0 rgba(255, 255, 255, 0.78), 98vw 90vh 0 0 rgba(255, 255, 255, 0.96), 98vw 190vh 0 0 rgba(255, 255, 255, 0.96), 29vw 65vh 0 0 rgba(255, 255, 255, 0.7), 29vw 165vh 0 0 rgba(255, 255, 255, 0.7), 61vw 64vh 0 0 rgba(255, 255, 255, 0.88), 61vw 164vh 0 0 rgba(255, 255, 255, 0.88), 26vw 73vh 0 0 rgba(255, 255, 255, 0.7), 26vw 173vh 0 0 rgba(255, 255, 255, 0.7), 12vw 73vh 0 0 rgba(255, 255, 255, 0.68), 12vw 173vh 0 0 rgba(255, 255, 255, 0.68), 8vw 84vh 0 0 rgba(255, 255, 255, 0.76), 8vw 184vh 0 0 rgba(255, 255, 255, 0.76), 45vw 55vh 0 0 rgba(255, 255, 255, 0.61), 45vw 155vh 0 0 rgba(255, 255, 255, 0.61), 44vw 70vh 0 0 rgba(255, 255, 255, 0.74), 44vw 170vh 0 0 rgba(255, 255, 255, 0.74), 7vw 93vh 0 0 rgba(255, 255, 255, 0.67), 7vw 193vh 0 0 rgba(255, 255, 255, 0.67), 37vw 12vh 0 0 rgba(255, 255, 255, 0.88), 37vw 112vh 0 0 rgba(255, 255, 255, 0.88), 47vw 1vh 0 0 rgba(255, 255, 255, 0.68), 47vw 101vh 0 0 rgba(255, 255, 255, 0.68), 82vw 59vh 0 0 rgba(255, 255, 255, 0.77), 82vw 159vh 0 0 rgba(255, 255, 255, 0.77), 92vw 42vh 0 0 rgba(255, 255, 255, 0.89), 92vw 142vh 0 0 rgba(255, 255, 255, 0.89), 42vw 95vh 0 0 rgba(255, 255, 255, 0.96), 42vw 195vh 0 0 rgba(255, 255, 255, 0.96), 35vw 52vh 0 0 rgba(255, 255, 255, 0.9), 35vw 152vh 0 0 rgba(255, 255, 255, 0.9), 22vw 2vh 0 0 rgba(255, 255, 255, 0.8), 22vw 102vh 0 0 rgba(255, 255, 255, 0.8), 23vw 32vh 0 0 rgba(255, 255, 255, 0.89), 23vw 132vh 0 0 rgba(255, 255, 255, 0.89), 71vw 45vh 0 0 rgba(255, 255, 255, 0.78), 71vw 145vh 0 0 rgba(255, 255, 255, 0.78), 56vw 67vh 0 0 rgba(255, 255, 255, 0.74), 56vw 167vh 0 0 rgba(255, 255, 255, 0.74), 37vw 21vh 0 0 rgba(255, 255, 255, 0.78), 37vw 121vh 0 0 rgba(255, 255, 255, 0.78), 80vw 39vh 0 0 rgba(255, 255, 255, 0.81), 80vw 139vh 0 0 rgba(255, 255, 255, 0.81), 51vw 84vh 0 0 rgba(255, 255, 255, 0.84), 51vw 184vh 0 0 rgba(255, 255, 255, 0.84), 14vw 72vh 0 0 rgba(255, 255, 255, 0.97), 14vw 172vh 0 0 rgba(255, 255, 255, 0.97), 9vw 26vh 0 0 rgba(255, 255, 255, 0.74), 9vw 126vh 0 0 rgba(255, 255, 255, 0.74), 42vw 18vh 0 0 rgba(255, 255, 255, 0.64), 42vw 118vh 0 0 rgba(255, 255, 255, 0.64), 76vw 60vh 0 0 rgba(255, 255, 255, 0.97), 76vw 160vh 0 0 rgba(255, 255, 255, 0.97), 40vw 31vh 0 0 rgba(255, 255, 255, 0.86), 40vw 131vh 0 0 rgba(255, 255, 255, 0.86), 73vw 36vh 0 0 rgba(255, 255, 255, 0.61), 73vw 136vh 0 0 rgba(255, 255, 255, 0.61), 65vw 54vh 0 0 rgba(255, 255, 255, 0.89), 65vw 154vh 0 0 rgba(255, 255, 255, 0.89), 5vw 72vh 0 0 rgba(255, 255, 255, 0.67), 5vw 172vh 0 0 rgba(255, 255, 255, 0.67), 1vw 73vh 0 0 rgba(255, 255, 255, 0.85), 1vw 173vh 0 0 rgba(255, 255, 255, 0.85), 34vw 74vh 0 0 rgb(255, 255, 255), 34vw 174vh 0 0 rgb(255, 255, 255), 47vw 97vh 0 0 rgba(255, 255, 255, 0.92), 47vw 197vh 0 0 rgba(255, 255, 255, 0.92), 46vw 42vh 0 0 rgb(255, 255, 255), 46vw 142vh 0 0 rgb(255, 255, 255), 70vw 84vh 0 0 rgba(255, 255, 255, 0.96), 70vw 184vh 0 0 rgba(255, 255, 255, 0.96), 76vw 0vh 0 0 rgba(255, 255, 255, 0.9), 76vw 100vh 0 0 rgba(255, 255, 255, 0.9), 45vw 9vh 0 0 rgba(255, 255, 255, 0.68), 45vw 109vh 0 0 rgba(255, 255, 255, 0.68);
  animation: stars-fall 2s linear infinite;
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  pointer-events: none;
  z-index: 0;
  box-shadow: 87vw 57vh 0 0 rgba(255, 255, 255, 0.95), 87vw 157vh 0 0 rgba(255, 255, 255, 0.95), 47vw 24vh 0 0 rgba(255, 255, 255, 0.67), 47vw 124vh 0 0 rgba(255, 255, 255, 0.67), 52vw 36vh 0 0 rgba(255, 255, 255, 0.61), 52vw 136vh 0 0 rgba(255, 255, 255, 0.61), 81vw 94vh 0 0 rgba(255, 255, 255, 0.95), 81vw 194vh 0 0 rgba(255, 255, 255, 0.95), 24vw 93vh 0 0 rgba(255, 255, 255, 0.62), 24vw 193vh 0 0 rgba(255, 255, 255, 0.62), 47vw 3vh 0 0 rgba(255, 255, 255, 0.78), 47vw 103vh 0 0 rgba(255, 255, 255, 0.78), 4vw 54vh 0 0 rgba(255, 255, 255, 0.74), 4vw 154vh 0 0 rgba(255, 255, 255, 0.74), 38vw 80vh 0 0 rgba(255, 255, 255, 0.92), 38vw 180vh 0 0 rgba(255, 255, 255, 0.92), 4vw 95vh 0 0 rgb(255, 255, 255), 4vw 195vh 0 0 rgb(255, 255, 255), 27vw 57vh 0 0 rgba(255, 255, 255, 0.99), 27vw 157vh 0 0 rgba(255, 255, 255, 0.99), 57vw 16vh 0 0 rgba(255, 255, 255, 0.96), 57vw 116vh 0 0 rgba(255, 255, 255, 0.96), 22vw 26vh 0 0 rgba(255, 255, 255, 0.95), 22vw 126vh 0 0 rgba(255, 255, 255, 0.95), 78vw 86vh 0 0 rgba(255, 255, 255, 0.78), 78vw 186vh 0 0 rgba(255, 255, 255, 0.78), 98vw 90vh 0 0 rgba(255, 255, 255, 0.96), 98vw 190vh 0 0 rgba(255, 255, 255, 0.96), 29vw 65vh 0 0 rgba(255, 255, 255, 0.7), 29vw 165vh 0 0 rgba(255, 255, 255, 0.7), 61vw 64vh 0 0 rgba(255, 255, 255, 0.88), 61vw 164vh 0 0 rgba(255, 255, 255, 0.88), 26vw 73vh 0 0 rgba(255, 255, 255, 0.7), 26vw 173vh 0 0 rgba(255, 255, 255, 0.7), 12vw 73vh 0 0 rgba(255, 255, 255, 0.68), 12vw 173vh 0 0 rgba(255, 255, 255, 0.68), 8vw 84vh 0 0 rgba(255, 255, 255, 0.76), 8vw 184vh 0 0 rgba(255, 255, 255, 0.76), 45vw 55vh 0 0 rgba(255, 255, 255, 0.61), 45vw 155vh 0 0 rgba(255, 255, 255, 0.61), 44vw 70vh 0 0 rgba(255, 255, 255, 0.74), 44vw 170vh 0 0 rgba(255, 255, 255, 0.74), 7vw 93vh 0 0 rgba(255, 255, 255, 0.67), 7vw 193vh 0 0 rgba(255, 255, 255, 0.67), 37vw 12vh 0 0 rgba(255, 255, 255, 0.88), 37vw 112vh 0 0 rgba(255, 255, 255, 0.88), 47vw 1vh 0 0 rgba(255, 255, 255, 0.68), 47vw 101vh 0 0 rgba(255, 255, 255, 0.68), 82vw 59vh 0 0 rgba(255, 255, 255, 0.77), 82vw 159vh 0 0 rgba(255, 255, 255, 0.77), 92vw 42vh 0 0 rgba(255, 255, 255, 0.89), 92vw 142vh 0 0 rgba(255, 255, 255, 0.89), 42vw 95vh 0 0 rgba(255, 255, 255, 0.96), 42vw 195vh 0 0 rgba(255, 255, 255, 0.96), 35vw 52vh 0 0 rgba(255, 255, 255, 0.9), 35vw 152vh 0 0 rgba(255, 255, 255, 0.9), 22vw 2vh 0 0 rgba(255, 255, 255, 0.8), 22vw 102vh 0 0 rgba(255, 255, 255, 0.8), 23vw 32vh 0 0 rgba(255, 255, 255, 0.89), 23vw 132vh 0 0 rgba(255, 255, 255, 0.89), 71vw 45vh 0 0 rgba(255, 255, 255, 0.78), 71vw 145vh 0 0 rgba(255, 255, 255, 0.78), 56vw 67vh 0 0 rgba(255, 255, 255, 0.74), 56vw 167vh 0 0 rgba(255, 255, 255, 0.74), 37vw 21vh 0 0 rgba(255, 255, 255, 0.78), 37vw 121vh 0 0 rgba(255, 255, 255, 0.78), 80vw 39vh 0 0 rgba(255, 255, 255, 0.81), 80vw 139vh 0 0 rgba(255, 255, 255, 0.81), 51vw 84vh 0 0 rgba(255, 255, 255, 0.84), 51vw 184vh 0 0 rgba(255, 255, 255, 0.84), 14vw 72vh 0 0 rgba(255, 255, 255, 0.97), 14vw 172vh 0 0 rgba(255, 255, 255, 0.97), 9vw 26vh 0 0 rgba(255, 255, 255, 0.74), 9vw 126vh 0 0 rgba(255, 255, 255, 0.74), 42vw 18vh 0 0 rgba(255, 255, 255, 0.64), 42vw 118vh 0 0 rgba(255, 255, 255, 0.64), 76vw 60vh 0 0 rgba(255, 255, 255, 0.97), 76vw 160vh 0 0 rgba(255, 255, 255, 0.97), 40vw 31vh 0 0 rgba(255, 255, 255, 0.86), 40vw 131vh 0 0 rgba(255, 255, 255, 0.86), 73vw 36vh 0 0 rgba(255, 255, 255, 0.61), 73vw 136vh 0 0 rgba(255, 255, 255, 0.61), 65vw 54vh 0 0 rgba(255, 255, 255, 0.89), 65vw 154vh 0 0 rgba(255, 255, 255, 0.89), 5vw 72vh 0 0 rgba(255, 255, 255, 0.67), 5vw 172vh 0 0 rgba(255, 255, 255, 0.67), 1vw 73vh 0 0 rgba(255, 255, 255, 0.85), 1vw 173vh 0 0 rgba(255, 255, 255, 0.85), 34vw 74vh 0 0 rgb(255, 255, 255), 34vw 174vh 0 0 rgb(255, 255, 255), 47vw 97vh 0 0 rgba(255, 255, 255, 0.92), 47vw 197vh 0 0 rgba(255, 255, 255, 0.92), 46vw 42vh 0 0 rgb(255, 255, 255), 46vw 142vh 0 0 rgb(255, 255, 255), 70vw 84vh 0 0 rgba(255, 255, 255, 0.96), 70vw 184vh 0 0 rgba(255, 255, 255, 0.96), 76vw 0vh 0 0 rgba(255, 255, 255, 0.9), 76vw 100vh 0 0 rgba(255, 255, 255, 0.9), 45vw 9vh 0 0 rgba(255, 255, 255, 0.68), 45vw 109vh 0 0 rgba(255, 255, 255, 0.68);
  animation: stars-fall 10s linear infinite;
}
.App {
  position: relative;
  overflow: hidden;
  background-image: url("../public/space-background.png");
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .info-icon {
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid white;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}
.App .instructions-icon {
  color: white;
  position: absolute;
  top: 10px;
  left: 50px;
  border: 1px solid white;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}
.App .info-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  z-index: 2;
  width: 70%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.App .info-modal .modal-inputs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5px;
}
.App .info-modal .modal-inputs input {
  height: 2em;
  width: 45%;
}
.App .credits-display {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}
.App .ship-animation {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
.App .ship-animation .ship {
  animation: hover 2s steps(4) infinite;
  height: 100px;
}
.App .display {
  position: relative;
  z-index: 1;
  width: 75%;
  color: white;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05); /* Semi-transparent background */
  backdrop-filter: blur(1px); /* The key blurring effect */
  -webkit-backdrop-filter: blur(10px); /* Vendor prefix for compatibility */
  border-radius: 10px; /* Rounded corners for a softer look */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.App .display .row-one {
  display: flex;
  justify-content: space-around;
}
.App .display .row-two {
  display: flex;
  justify-content: center;
}
.App .display .resource-display {
  padding: 5px;
}
.App .display .resource-display button {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  border: none;
  border-radius: 10% 10%;
}
.App .display .resource-display {
  position: relative;
}
.App .display .resource-display .resource-name {
  margin-left: 10%;
}
.App .display .resource-display .mining-level {
  right: 10%;
  display: inline;
  position: absolute;
}
.App .display .resource-display .mining-level button {
  margin-left: 10px;
}
.App .display .button-row {
  display: flex;
  justify-content: center;
}
.App .display .button-row button {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  border: none;
  border-radius: 10px;
  width: 30%;
  margin: 0px 10px;
}
.App button {
  position: relative;
  z-index: 1;
  width: 50px;
}

.message-display {
  width: 75%;
  margin-top: 10px;
  color: white;
  height: 20px;
}

@keyframes hover {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@keyframes stars-fall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0vh);
  }
}/*# sourceMappingURL=App.css.map */